.appbar {
  background-color: #cc1224 !important;
  margin-bottom: 0% !important;
}
.appbarForLinks{
  margin-top: 0% !important;
  background-color: #cc1224 !important;

}
.appBarLinkText{
  color:#fff !important;
  text-decoration: underline !important;
}

.appbarLogo {
  height: 50px;
}

.appbarBrandName {
  color:#fff !important;
  letter-spacing: 3px;
  font-size: 25px;
  margin-left: -15px !important;
}
.appbarUserName {
  color:#fff !important;
  font-size: 20px;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.dropdown {
    margin-left: -52px !important;
}
